@font-face {
    font-family: "WildWood";
    src: url("./fonts/jfwildwood-ldyz-webfont.woff2") format("woff2"),
        url("./fonts/jfwildwood-ldyz-webfont.woff") format("woff"),
        url("./fonts/Jfwildwood-ldYZ.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}